*.kate-swp
*.wad
*.pk3
*.zds

# Addons
Addons.zip
#brightmaps.pk3
#brutalv20b_R.pk3
#ChexPK3.pk3
#DoomMetalVol4.wad
#ExtraTextures.wad
#freedoom.wad
#game_support.pk3
#gzdoom.pk3
#hellonearthstarterpack.wad
#heretic_high_resolution_pack.pk3
#HereticPK3.pk3
#hexen_high_resolution_pack.pk3
#hexen_v2_pk3.pk3
#lights.pk3
#StrifePK3.pk3
#voices.wad
#zdoom-dhtp-20171001.pk3

# Wads
Wads.zip
#chex.wad
#chex3.wad
#doom.wad
#doom1.wad
#doom2.wad
#doomu.wad
#heretic.wad
#hexdd.wad
#hexen.wad
#plutonia.wad
#strife1.wad
#tnt.wad
